<table class="app-table">
   <tr>
      <td class="app-cell fuzz">
         <table class="fuzz-table">
            <tr>
               <td class="fuzz-cell left">
                  <div class="fuzz-block left"></div>
               </td>
               <td class="logo-cell">
                  <h1 class="main-heading">
                     SmarteRESTful
                  </h1>
               </td>
               <td class="fuzz-cell right">
                  <div class="fuzz-block right"></div>
               </td>
            </tr>
         </table>
      </td>
   </tr>
   <tr class="story-list-row">
      <td class="story-list-cell">
         <question-list></question-list>
      </td>
   </tr>
</table>
<div id="preload">
   <img src="app/images/search_blue_30"/>
   <img src="app/images/search_shadow_blue_30"/>
   <img src="app/images/close_2_30"/>
   <img src="app/images/close_2_30_pressed"/>
   <img src="app/images/close_2_50"/>
   <img src="app/images/close_2_50_pressed"/>
   <img src="app/images/plus_50"/>
   <img src="app/images/plus_50_pressed"/>
</div>
